@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
    max-width: 500px;
    margin-top: 20px;
    background-color: darkred;
  }
  input {
   	font-size: large;
    width: 250px;
    background-color: beige;
    margin-top: 10px;
    text-transform: uppercase;
  }
  label {
    display: flex;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffff11;
  }